
body {
    margin: 0;
    padding: 0;
    background-color: black;
    /* background-image: url("shine.gif"); */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shantell Sans', cursive;
}

.navs {
    display: contents;
}

.navs li {
    letter-spacing: 3px;
    margin-left: 20px;
}
#navbarTogglerDemo01 .navs li a{
    color: white;
}

#navbarTogglerDemo01 .navs li a:hover {
    color: #f9004d;
    transition: .5s;
}



.intro {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.slide {
    position: absolute;
    margin-right: 30%;
}

.name {
    display: grid;
    justify-content: center;
    /* color: rgb(176, 181, 184); */
}

.top,
.bottom {
    color: white;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 30px;
    margin-bottom: 10px;
    /*-60*/
    position: relative;
    animation: text 3s 1;
    background-color: black;
    /* to hide web developer text */

}

.top {
    clip-path: polygon(0% 10%, 100% 0%, 100% 48%, 0% 60%);
    grid-area: 1/1/-1/-1;
}

.bottom {
    clip-path: polygon(0% 63%, 100% 50%, 100% 100%, 0% 100%);
    transform: translateX(0.03em);
    grid-area: 1/1/-1/-1;
}

.job {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: white;
}

#job1{
    color: #f9004d;
}


@keyframes text {
    0% {
        color: black;
        /* shading effect for feven */
        margin-bottom: -60px;
        /* to pop web developer under feven */
    }

    30% {
        letter-spacing: 40px;
        margin-bottom: -60px;
    }
}

.modal-content {
    background-color: black;
    height: 100vh;

}

.modal-dialog {
    margin: 0;
}

.modal-header {
    padding-bottom: 16px;
    margin-left: 20px;
}

.modal-body ul li {
    margin-bottom: 5px;
}

.modal-body ul li
{ color: white;}

.modal-body ul li a {
    padding-left: 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
}

.modal-footer a {
    margin-bottom: 20px;
    padding-left: 20px;
    color: white;
}

#talk {
    margin-top: 70%;
}



@media screen and (max-width: 647px) {

    .top,
    .bottom {
        font-size: 60px;
        letter-spacing: 20px;
        padding-left: 5%;
    }

    .job {
        font-size: 13px;
        letter-spacing: 2px;
        padding-left: 5px;
    }

    #mypic {
        margin-top: 80px;
        margin-left: 25%;
    }

} 

.card1{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 2px #f9004d;
    /* center the card */
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    margin-top: 5%;
}

#abtimg{
    box-shadow: -5px -5px 2px #f9004d;

}

.myp {
    box-shadow: -4px -4px 2px #f9004d;
    color: white;
    width: 400px;
    font-size: larger;
}

#latest {
    box-shadow: 5px 5px 2px #f9004d;
    width: 400px;
    font-size: larger;
} 

.works .card{
    background-color: black;
    color: white;
}

.zcards .card{
    background-color: black;
    color: white;
} 

.zcards .card .card-header{
    color: #f9004d;
    border-right: 1px solid #f9004d;
}

#Works{
    margin: 5% 0;
}

.contact{
    margin-left: 5%;
}

.contact header h3 span {
    display: block;
    color: white;
}

.hl {
    border: 1.5px solid #f9004d;
    width: 80%;
    margin-left: 15%;
}


#feel-free {
    color: #f9004d;
} 

.contact form {
    margin: 20px;
    color: white;
} 

.contact form input , #exampleFormControlTextarea1, .btn{
    background-color: transparent;
} 

.btn {
    color: #f9004d;
    border: 1.5px solid #f9004d;
}

.btn:hover, .links button:hover{
    color: white;
    transition: .4s; 
    box-shadow: 5px 5px #f9004d ;
}

.cardss2 button:hover {
    transition: .4s; 
    box-shadow: 15px 15px #f9004d ;
} 

#work-btn:hover {
    transition: .4s; 
    box-shadow: -15px -15px #f9004d ;
}
